/* General Site */

html, body {
	height: 100%;
}

.jumbotron {
	/* Looks cool but commented out as it results in very slow performance on Chrome MAC */
	/*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
	/*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
	background-color: #333;
	height: 60%;
	min-height: 300px;
	padding: 20px 0px;
}

.jumbotron .container {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}


div#bigChart {
	height: 100%;
}

@media (min-width: 768px) {

	.jumbotron {
		height: 80%;
		min-height: 500px;
	}
}

/* Chart specific styling */
#bigChart svg {
	font: 16px sans-serif;
}

#bigChart text.version {
	fill: #555555;
	font: 10px sans-serif;
}

#bigChart .axis path,
#bigChart .axis line {
	fill: none;
	stroke: #BBBBBB;
	shape-rendering: crispEdges;
}

#bigChart text {
	fill: #DDDDDD;
}

#bigChart path {
	fill: none;
	stroke-width: 1;
}

#bigChart path.candle {
	stroke: #000000;
}

#bigChart path.candle.body {
	stroke-width: 0;
}

#bigChart path.candle {
	fill: #777777;
	stroke: #777777;
}

#bigChart path.candle.up {
	fill: #00AA00;
	stroke: #00AA00;
}

#bigChart path.candle.down {
	fill: #FF0000;
	stroke: #FF0000;
}

#bigChart .closeValue.annotation.up path {
	fill: #00AA00;
}

#bigChart path.volume {
	fill: #555555;
}

#bigChart .indicator-plot path.line {
	fill: none;
	stroke-width: 1;
}

#bigChart .ma-0 path.line {
	stroke: #1f77b4;
}

#bigChart .ma-1 path.line {
	stroke: #aec7e8;
}

#bigChart .ma-2 path.line {
	stroke: #ff7f0e;
}

#bigChart button {
	position: absolute;
	right: 110px;
	top: 25px;
}

#bigChart path.macd {
	stroke: #aec7e8;
}

#bigChart path.signal {
	stroke: #FF9999;
}

#bigChart path.zero {
	stroke: #BBBBBB;
	stroke-dasharray: 0;
	stroke-opacity: 0.5;
}

#bigChart path.difference {
	fill: #777777;
}

#bigChart path.rsi {
	stroke: #aec7e8;
}

#bigChart path.overbought, path.oversold {
	stroke: #FF9999;
	stroke-dasharray: 5, 5;
}

#bigChart path.middle, path.zero {
	stroke: #BBBBBB;
	stroke-dasharray: 5, 5;
}

#bigChart .analysis path, .analysis circle {
	stroke: yellow;
	stroke-width: 0.7;
}

#bigChart .interaction path, .interaction circle {
	pointer-events: all;
}

#bigChart .interaction .body {
	cursor: move;
}

#bigChart .trendlines .interaction .start, .trendlines .interaction .end {
	cursor: nwse-resize;
}

#bigChart .trendline circle {
	stroke-width: 0;
	display: none;
}
#bigChart .mouseover .trendline path {
	stroke-width: 1;
}

#bigChart .mouseover .trendline circle {
	stroke-width: 1;
	fill: yellow;
	display: inline;
}

#bigChart .supstance path {
	stroke-dasharray: 2, 2;
}

#bigChart .supstances .interaction path {
	pointer-events: all;
	cursor: ns-resize;
}

#bigChart .supstances .axisannotation {
	display: none;
}

#bigChart .supstances .mouseover .axisannotation {
	display: inline;
}

#bigChart .supstances .axisannotation path {
	fill: #806517;
	stroke: none;
}

#bigChart .mouseover .supstance path {
	stroke-width: 1.5;
}

#bigChart .crosshair {
	cursor: crosshair;
}

#bigChart .crosshair path.wire {
	stroke: #555555;
	stroke-dasharray: 1, 1;
}

#bigChart .crosshair .axisannotation path {
	fill: #777777;
}