svg {
    display: block;
}

#performance-line-graph {
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
}

#performance-perc-graph {
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
}

#volume-graph {
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
}