@font-face {
    font-family: 'News Cycle';
    src: url('font/NewsCycle-Regular.ttf');
}
body {
  padding: 70px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    background: url(../images/newyork.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#overlay{
    padding: 40px;
    /*margin: 10px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    background-color: rgba(238, 238, 238, 0.76);
}

#wrapperMarket{
    padding: 10px;
}

.img-rounded {
	padding: 5px;
}

#indexJumbotron {
    background-color: rgba(238, 238, 238, 0.76);
}

.thumbnail {
    background-color: rgba(238, 238, 238, 0.76);
}

/* Belongs to Analysis.css, should move */
.news-section .panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-section .news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555;
    font-family: 'News Cycle', sans-serif;
}

.news-section .news-item .btn
{
    border:0px solid transparent; /* this was 1px earlier */
}

.news-section .news-item a
{
    padding: 2px;
}

/* Hack -- Overrides the other css */
div.dataTables_paginate ul.pagination li.paginate_button
{
    padding: 0;
    margin: 0;
}
/* END Belongs to Analysis.css, should move */