@font-face {
    font-family: 'News Cycle';
    src: url('font/NewsCycle-Regular.ttf');
}
body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.img-rounded {
	padding: 5px;
}

/* Belongs to Analysis.css, should move */
.news-section .panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-section .news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555;
    font-family: 'News Cycle', sans-serif;
}

.news-section .news-item .btn
{
    border:0px solid transparent; /* this was 1px earlier */
}

.news-section .news-item a
{
    padding: 2px;
}

/* Hack -- Overrides the other css */
div.dataTables_paginate ul.pagination li.paginate_button
{
    padding: 0;
    margin: 0;
}
/* END Belongs to Analysis.css, should move */