nav(class='navbar navbar-default navbar-fixed-top')
	div.container-fluid
		div.navbar-header
			a(href='/')
				img(src='images/chart.png' height='50px' width='50px')
			ul(class='nav navbar-nav navbar-right')
				li
					a(href='/') Home
				li
					a(href='/analysis') Analysis
				li
					a(href='/portfolio') Portfolio
				li
					a(href='#') Insights