nav(class='navbar navbar-default navbar-fixed-top')
    div.container-fluid
        div.navbar-header
            a(href='/')
                img(src='/images/chart.png' height='50px' width='50px')
        div(id='navbar' class='navbar-collapse collapse')
            ul(class='nav navbar-nav')
                li
                    a(href='/') Home
                li
                    a(href='/market') Market
                li
                    a(class='dropdown-toggle' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Portfolio
                        span.caret
                    ul(class='dropdown-menu')
                        li
                            a(href='/portfolio') Portfolio Overview
                        li(role='separator' class='divider')
                        each val in ids
                            li
                                a(href='/portfolio/' + val) Portfolio #{val}
                        else
                            li
                                a(href='#') There are no portfolios
                li
                    a(href='#') Insights
            ul(class='nav navbar-nav navbar-right')
                li
                    a(href='/login') Login
                li
                    a(href='/logout') Logout