extends layout_auth
block page-specific-js-css
	link(rel='stylesheet', href='/stylesheets/nv.d3.min.css')
block content
	div.row
		h2 Welcome [#{username}] &nbsp
			small You have #{count} portfolios
		button(class='btn btn-warning btn-lg') Create Portfolio &nbsp
			span(class='glyphicon glyphicon-file')
	div.row
		h2 General Overview
		div.col-md-6
			div(class='panel panel-primary')
				div(class='panel-heading') Placeholder - Each portfolio's value out of total
				div(class='panel-body')
					div(class='svg-container')
						div(id='myChart')
		div.col-md-6
			div(class='panel panel-primary')
				div(class='panel-heading') Placeholder - Industry Composition for all portfolios
				div(class='panel-body')
					div(class='svg-container')
						div(id='nv-donut-chart')
	script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js')
	script(type='text/javascript' src='/javascripts/nv.d3.min.js')
	script(type='text/javascript' src='/javascripts/Chart.min.js')
	script(type='text/javascript' src='/javascripts/portfolio_actions.js')
	script.
		getAllPortfolios();