doctype html
html
    head
        title Smartfolio - Signup
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
        style.
            body { padding-top:80px }
    body
        div.container
            div(class='col-sm-6 col-sm-offset-3')
                h1
                    span(class='fa fa-sign-in')  Signup
                
                if message && message.length
                    div(class='alert alert-danger') #{message}
                
                form(action='/signup' method='post')
                    div(class='form-group')
                        label Username
                        input(type='text' class='form-control' name='username')
                    div(class='form-group')
                        label Password
                        input(type='password' class='form-control' name='password')
                    div(class='form-group')
                        label Confirm Password
                        input(type='password' class='form-control' name='password2')
                    button(type='submit' class='btn btn-warning btn-lg') Signup
                hr
                p Already have an account? 
                    a(href='/login') Login
                p Or go back to
                    a(href='/')  Homepage