extends layout
block page-specific-js-css
    link(rel='stylesheet', href='/stylesheets/chart.css')
    script(defer type='text/javascript' src='/javascripts/d3.min.js')
    script(defer type='text/javascript' src='/javascripts/techan.min.js')
    script(defer type='text/javascript' src='/javascripts/jquery.dataTables.min.js')
    script(defer type='text/javascript' src='/javascripts/dataTables.bootstrap.min.js')
    script(defer type='text/javascript' src='/javascripts/testing_actions.js')
block content
    div.row
        div.col-md-12
            div.well
                ul(class='nav nav-pills nav-stacked')
                    li
                        button(onclick='performTransactionTest();' class='btn btn-primary btn-lg') Bulk Add Transactions
                    li
                        button(onclick='reloadDB();' class='btn btn-primary btn-lg') Reload DB
