extends layout
block page-specific-js-css
    link(rel='stylesheet', href='/stylesheets/chart.css')
    script(defer type='text/javascript' src='/javascripts/d3.min.js')
    script(defer type='text/javascript' src='/javascripts/techan.min.js')
    script(defer type='text/javascript' src='/javascripts/jquery.dataTables.min.js')
    script(defer type='text/javascript' src='/javascripts/dataTables.bootstrap.min.js')

block content
    div.row
        div.col-md-12
            div.well
                ul(class='nav nav-pills nav-stacked')
                    li
                        button(onclick='performTransactionTest();' class='btn btn-primary btn-lg') Bulk Add Transactions
                    li
                        button(onclick='performTransactionTest2();' class='btn btn-primary btn-lg') Add Transactions With Dates
                    li
                        button(onclick='reloadDB();' class='btn btn-primary btn-lg') Reload DB
                    li
                        button(onclick='generateFakeTransactions();' class='btn btn-primary btn-lg') Fake user generate transactions
            div.well
                h1 Used for testing auto updating graphs
                button(onclick='autoUpdateGraph();' class='btn btn-default') Graph graph
                canvas(id='autoUpdateGraph' width='100' height='100')
    script(defer type='text/javascript' src='/javascripts/Chart.min.js')
    script(defer type='text/javascript' src='/javascripts/testing_actions.js')